

## Check if the CidrIP is from a trusted range

# CidrIP Restricted
AWS::EC2::SecurityGroupIngress CidrIp != 0.0.0.0/0 <<  INGRESS from ANYWHERE is NOT ALLOWED
# |OR| AWS:EC2::SecurityGroupIngress CidrIp != 0.0.0.0/0
# CidrIP Allowed
AWS::EC2::SecurityGroupIngress CidrIp == "127.0.0.1/32"
#AWS:EC2::SecurityGroupIngress CidrIp IN %permitted_cidrip%

AWS::EC2::SecurityGroupEgress CidrIP != %restricted_ip_list%

## Check Ports

# FromPort Allowed Values
AWS::EC2::SecurityGroupIngress FromPort == ANY

# ToPorts Allowed
AWS::EC2::SecurityGroupIngress ToPort IN %permitted_inbound_ports% << This has NOT been pre-approved for use
# Ports Restricted
AWS::EC2::SecurityGroupIngress ToPort NOT_IN %restricted_inbound_ports% << You are using a RESTRICTED PORT!!!!

# Variables to define an array of restricted or permitted values
let restricted_inbound_ports = [23,25,3389]
let permitted_inbound_ports = [22,80,8080,443,8443]
let permitted_cidrip = ["127.0.1.1/24","127.0.2.1/24",127.0.3.1/24"]
let restricted_ip_list = []
